#homeContainer {
  background-image: url("images/solange.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#siteHeader {
  text-align: center;
  font-size: 22px;
  color: white;
  align-self: flex-start;
}

#navContainer {
  align-self: flex-end;
  position: fixed;
}

#siteNav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* removing underline from web link */
.navLink:link {
  text-decoration: none;
}

/* removing underline from visited link */
.navLink:visited {
  text-decoration: none;
  color: white;
}

/* set default color of the link to white */
.navLink {
  color: white;
  font-size: 1.3em;
  text-align: center;
}